name: Service Pipeline
env: 
  DOCKER_IMAGE_NAME: notifications-service
on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21.x'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up ko
        uses: ko-build/setup-ko@v0.6

      - name: Build and Publish to Docker Hub
        run: |
          export KO_DOCKER_REPO=docker.io/adal2022/notifications-service
          ko build -t v1.0.1 --bare

      - name: Build and Publish to GHCR
        run: |
          export KO_DOCKER_REPO=ghcr.io/${{ github.repository_owner }}/notifications-service
          ko build -t v1.0.1 --bare
